<header id="PageHeader">
	<ul>
        <li class='logo'><a href="/">(Audstrum)</a></li>
        <li class='logo'><a href="about">About</a></li>
        <li class='out'><a href="login.html">Sign In</a></li>
        <li class='out'><a href="register.html">Register</a></li>
        <li class='in'><a href="profile.html">Profile</a></li>
        <li class='in'><a href="#">Log Out</a></li>
    </ul>	
</header>