<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" /> <!-- fixes chrome device mode not adjusting screen width -->
<link rel="stylesheet" href="/css/style.css">
<link rel="shortcut icon" href="#" /> <!--fixes a random 404 error in Chrome, cannot get favicon.ico even though there is no reference to this in code-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!-- needed to use Ajax/jquery -->
<noscript> <p class="scriptwarning">Javascript not found, please enable to use site.</p></noscript>
<title> Audstrum, it's just random noise </title>
<body background="resources/backwave.svg"></body>