<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" /> <!-- fixes chrome device mode not adjusting screen width -->
<link rel="stylesheet" href="/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!-- needed to use Ajax/jquery -->
<script src="/scripts/Controls.js"></script> <!-- controls script -->
<script src="/scripts/CreateDetailsDiv.js"></script> <!-- Script that can handle creating the detail div -->
<script src="https://kit.fontawesome.com/2503083cac.js" crossorigin="anonymous"></script>  
<noscript> <p class="scriptwarning">Javascript not found, please enable to use site.</p></noscript>
<title> Audstrum, it's just random noise </title>
<body background="resources/backwave.svg"></body>