<html>

<head>
	<%- include('../partials/head') %>
</head>
<body>
    
    <%- include('../partials/header') %>

    <div id="detailsDiv">
        <h2>How this works</h2>
        <p>Type in a search term and you will hear what you type. Maybe. It's I'm feeling lucky but for sounds!
            You can save sounds that you like to a profile so you can find your favourites later.

            To Sign Up just click the link in the top right. You can visit your profile there once you have logged in and see a list of saved sounds.
            (I don't know if this is the best way to do this but if no1 has a better solution that they want to do then this will hopefully help adress what John said)
        </p>
    </div>
</body>
</html>