<html>

<head>
	<%- include('../partials/head') %>
</head>

<header id="PageHeader">
	<%- include('../partials/header') %>
</header>

<div id="detailsDiv"></div>
    <h2>This is About Page!</h2>
    <p>This is a short description of some of the capabilities, brief tutorial, something like that.
        This is a short description of some of the capabilities, brief tutorial, something like that.
        This is a short description of some of the capabilities, brief tutorial, something like that.
        This is a short description of some of the capabilities, brief tutorial, something like that.
        This is a short description of some of the capabilities, brief tutorial, something like that.
        This is a short description of some of the capabilities, brief tutorial, something like that.
    </p>
<div id="detailsDiv"></div>
	
</body>
</html>