<html>

<head>
	<%- include('../partials/head') %>
</head>
<body background="resources/backwave.svg"></body>

<title> When you just want to hear a cat purr?? I dunno </title>
<header id="PageHeader">
	<%- include('../partials/header') %>
</header>

<h2>This is About Page!</h2>
<p>This is a short description of some of the capabilities, brief tutorial, something like that.
    This is a short description of some of the capabilities, brief tutorial, something like that.
    This is a short description of some of the capabilities, brief tutorial, something like that.
    This is a short description of some of the capabilities, brief tutorial, something like that.
    This is a short description of some of the capabilities, brief tutorial, something like that.
    This is a short description of some of the capabilities, brief tutorial, something like that.
</p>
	
</body>
</html>