
<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <%- include('../partials/header') %>

        <section id="PageContent">
            <h1>Sign  In.</h1>
            <form action="/dologin" method="POST">
                <input type="text" id="user" name="username" placeholder="Username">
                <input type="password" id="pass" name="password" placeholder="Password">
                <input type="submit" value="Submit">
            </form>
        </section>

        <footer id="PageFooter">

        </footer>
    </body>
</html>