<!--
    TO DO:

    create code for login check with message
    upload code to database with redirect


    -

    merge css with main css

    -

    create code for navigation hiding
    deppending if signed on

    if yes then display account username(profile) 
    and logout. if no then sign in, sign up

    -
-->
<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <%- include('../partials/header') %>

        <section id="PageContent">
            <h1>Sign  In.</h1>
            <!--the form below will be in jquery once the back end is done
            complete. This code will also then check the inputs
            and sign the user in.-->
            <form>
                <input type="text" id="user" name="user" placeholder="Username">
                <input type="password" id="pass" name="pass" placeholder="Password">
                <input type="submit" value="Submit">
            </form>
        </section>

        <footer id="PageFooter">

        </footer>
    </body>
</html>