<!DOCTYPE html>

<html lang="en">

    <head>
        <%- include('../partials/head') %>
    </head>

    <body background="resources/backwave.svg">
        
        <%- include('../partials/header') %>

        <section id="PageContent">
            <h1>Profile</h1>
            <div id='favs'></div>
        </section>

        <footer id="PageFooter">

        </footer>
    </body>
</html>