<!DOCTYPE html>

<html lang="en">

    <head>
        <%- include('../partials/head') %>
        <script src="/scripts/Controls.js"></script> <!-- controls script -->
		<script src="/scripts/CreateDetailsDiv.js"></script> <!-- Script that can handle creating the detail div -->
		<script src="https://kit.fontawesome.com/2503083cac.js" crossorigin="anonymous"></script>
    </head>

    <body background="resources/backwave.svg">
        
        <%- include('../partials/header') %>

        <section id="PageContent">
            <h1>Profile</h1>
            <div id='favs'>
                <script>
                    $.ajax({
                        type:"GET",
                        data:datatosend,
                        url:"doUserSearch",
                        success: function(response)
                        {
                            if(response.redirect == "true") //redirect if not logged in
                                window.location = "/login";
                        }
                    });

                    $.getJSON("/doUserSearch", searchTerm)
                    .done(function(response) {
                        var favDiv = $('#favs');
                        //
                        // Contact Server, get json of favourited items and parse titles/duration/user or whatever we want to show
                        //
                        var title = [];
                        var faveList = [];
                        for (var i = 0; i < title.length; i++) {
                            faveList.push({title: title[i], user: user[i]});
                        }
                        faveList.forEach(populateList)
                        //construct html of each item and append
                        function populateList(item){
                        var itemHTML = '<li class="list"><div id="listTitle"><h3>' + item.title + '</h3></div>';
                        itemHTML += '<div id="listUser"><h3>' + item.user + '</h3></div></li>';
                        favDiv.append(itemHTML);
                        }
                    });
                    
                    var favDiv = $('#favs');
                    //
                    // Contact Server, get json of favourited items and parse titles/duration/user or whatever we want to show
                    //
                    var faveList = [];
                    for (var i = 0; i < title.length; i++) {
                        faveList.push({title: title[i], user: user[i]});
                    }
                    faveList.forEach(populateList)
                    //construct html of each item and append
                    function populateList(item){
                    var itemHTML = '<li class="list"><div id="listTitle"><h3>' + item.title + '</h3></div>';
                    itemHTML += '<div id="listUser"><h3>' + item.user + '</h3></div></li>';
                    favDiv.append(itemHTML);
                    }
                </script>
            </div>
        </section>

        <footer id="PageFooter">

        </footer>
    </body>
</html>