<!DOCTYPE html>

<html lang="en">

    <head>
        <%- include('../partials/head') %>
        <script src="/scripts/Controls.js"></script> <!-- controls script -->
		<script src="/scripts/ProfileLoad.js"></script> <!-- script that runs once DOM is ready, gets faved sounds -->
        <script src="https://kit.fontawesome.com/2503083cac.js" crossorigin="anonymous"></script>
    </head>

    <body background="resources/backwave.svg">
        
        <%- include('../partials/header') %>

        <section id="PageContent">
            <h1>Profile</h1>
            <div id='favs'></div>
        </section>
        <footer id="PageFooter">

        </footer>
    </body>
</html>