<!--
    TO DO:

-->

<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <%- include('../partials/header') %>
        <section id="PageContent">
            <h1>Register</h1>
            <form>
                <input type="text" id="fname" name="fname" placeholder="First Name">
                <input type="text" id="lname" name="lname" placeholder="Last Name">

                <input type="text" id="uname" name="uname" placeholder="Username">
                <input type="password" id="pwd" name="pwd" placeholder="Password">

                <input type="submit" value="Submit">
            </form>
        </section>

        <footer id="PageFooter">

        </footer>

    
    </body>
</html>