<!--
    TO DO:

-->

<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <%- include('../partials/header') %>
        <section id="PageContent">
            <h1>Register</h1>
            <form>

                <input type="text" id="uname" name="uname" placeholder="Username">
                <input type="password" id="pwd" name="pwd" placeholder="Password">

                <input type="submit" value="Submit">
            </form>
        </section>

        <footer id="PageFooter">

        </footer>

    
    </body>
</html>
